{% extends '::frontend.html.twig' %}

{% block title %}Tienda {{ tienda.nombre }} {% endblock %}
{% block id 'tienda' %}

{% block article %}
    <section id="descripcion">
        <h1>{{ tienda.nombre }}</h1>
        <p>{{ tienda.descripcion }}</p>
    </section>

    <section class="ultimas">
        <h2>últimas Ofertas Públicadas</h2>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Oferta</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Compras</th>
            </tr>
            </thead>
            <tbody>
                {% for oferta in ofertas %}
                <tr>
                    <td>{{ oferta.fechaPublicacion | date() }}</td>
                    <td><a href="{{ path('cupon_oferta_default_oferta', { 'ciudad': oferta.ciudad.slug,'slug': oferta.slug }) }}">
                            {{ oferta.nombre }}
                        </a>
                    </td>
                    <td> {{ oferta.precio }} $</td>
                    <td>{{ oferta.descuento }}</td>
                    <td>{{ oferta.compras }}</td>
                </tr>
                {% else %}
                 <tr>
                     <td colspan="5">Esta tiendo no ha publicado ninguna oferta</td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block aside %}
    {{ parent() }}

{% endblock %}