<select id="ciudadseleccionada">
    {% for ciudad in ciudades %}
        <option value="{{ ciudad.slug }}"
                data-url="{{ url('cupon_ciudad_default_cambiar',{ 'ciudad': ciudad.slug }) }}"
                {{ ciudadActual == ciudad.slug ? 'selected="selecte"' : '' }}
                >{{ ciudad.nombre }}</option>
    {% endfor %}
</select>

<script type="text/javascript">
    var lista = document.getElementById('ciudadseleccionada')


    lista.onchange = function() {
        var url = lista.options[lista.selectedIndex].getAttribute('data-url')
        window.location = url
    }
</script>