{% extends '::frontend.html.twig'%}

{% block title %}Ofertas Recientes En {{ ciudad.nombre }}{% endblock %}
{% block id 'recientes' %}
{% block article %}
    <h1>Oferts recientes en <strong>{{ ciudad.nombre }}</strong></h1>
    <div>
        {% for oferta in ofertas %}
            {% include ':Oferta:includes/minioferta.html.twig' %}
        {% else %}
            <p>Esta Ciudad Todavia No Ha Publicado Ninguna Oferta </p>
        {% endfor %}
    </div>
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="cercanas">
        <h2>Ofertas En Otras Ciudades</h2>
        <ul>
            {% for ciudad in cercanas %}
            <li>
                <a href="{{ path('cupon_ciudad_default_recientes', { 'ciudad': ciudad.slug }) }}">
                    {{ ciudad.nombre }} </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}