<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %} | Cupon </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/cuponapp/css/normalizar.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/cuponapp/css/comun.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id='{% block id '' %}'>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
