{% extends '::base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.get('ciudad',ciudad_por_defecto) %}
{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cuponapp/css/frontend.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/cuponapp/js/frontend.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
<div id="contenedor">
    <header>
        <h1><a href="{{ path('cupon_oferta_default_portada', { 'ciudad': ciudadSeleccionada }) }}" >CUPON</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('cupon_oferta_default_portada') }}">Oferta del día</a></li>
                <li><a href="{{ path('cupon_ciudad_default_recientes',{ 'ciudad': ciudadSeleccionada }) }}">Ofertas recientes</a></li>
                <li><a href="{{ path('cupon_usuario_default_compras') }}">Mis ofertas</a></li>
                <li>{% render(controller("CiudadBundle:Default:listaCiudades" ,{ 'ciudadActual': ciudadSeleccionada } )) %}</li>
            </ul>
        </nav>
    </header>
    <article>
        {% block article %}{% endblock %}
    </article>
    <aside>
        {% block aside %}
            {% include ':Usuario:includes/formLogin.html.twig' %}
            <section id="nosotros">
                <h2>Sobre nosotros</h2>
                <p>Lorem ipsum dolor sit amet...</p>
            </section>
        {% endblock %}
    </aside>
    <footer>
        &copy; {{ 'now' | date('Y') }} - Cupon
            <a href="{{ path('cupon_app_sitio_estatica', { 'pagina': 'ayuda' }) }}">Ayuda</a>
            <a href="{{ path('cupon_app_sitio_estatica', { 'pagina': 'contacto' }) }}">Contacto</a>
            <a href="{{ path('cupon_app_sitio_estatica', { 'pagina': 'privacidad' })}}">Privacidad</a>
            <a href="{{ path('cupon_app_sitio_estatica', { 'pagina': 'sobre-nosotros' })}}">Sobre nosotros</a>
    </footer>
</div>
{% endblock body %}
