{% extends '::frontend.html.twig' %}

{% block title %} Detalle de {{ oferta.nombre }} {% endblock %}
{% block id 'oferta' %}

{% block article %}
   {% include ':Oferta:includes/oferta.html.twig' %}
{% endblock %}

{% block aside %}
   {{ parent() }}

   <section id="relacionadas">
      <h2>Ofertas Relacionadas</h2>
      <ul>
         {% for oferta in relacionadas %}
            <li> {{ oferta.ciudad.nombre }} :
                  <a href="{{ path('cupon_oferta_default_oferta',
                  { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">
                     {{ oferta.nombre }}
                  </a>
            </li>
         {% endfor %}
      </ul>
   </section>
{% endblock %}