{% extends '::frontend.html.twig' %}
{% block title %}Oferta del Dia {% endblock %}
{% block id 'portada' %}
{% block article %}
    {% include ':Oferta:includes/oferta.html.twig' %}
{% endblock %}
{% block aside %}
    {{ parent() }}
{% endblock %}