{% extends '::frontend.html.twig' %}

{% block title %}Ultimas Ofertas Que Has Comprado{% endblock %}
{% block id 'compras' %}

{% block article %}
    <h1>{{ block('title') }}</h1>

    {% for compra in compras %}
        {% include ':Oferta:includes/minioferta.html.twig' with {
            'oferta': compra.oferta,
            'comprada': true,
            'fechaCompra': compra.fecha } %}
    {% endfor %}
{% endblock %}

{% block aside %}
{% endblock %}