{% extends '::frontend.html.twig' %}

{% block title %}Formulario de Acceso{% endblock %}
{% block id 'usuario' %}
{% block article %}
    {% include ':Usuario:includes/formLogin.html.twig' %}
{% endblock %}

{% block aside %}{% endblock %}