{% extends '::frontend.html.twig' %}
{% block id 'usuario' %}
{% block title %}Ver / Modificar mis datos{% endblock %}
{% block article %}
    <h1>{{ block('title') }}</h1>
<form action="{{ path('cupon_usuario_default_perfil') }}" method="post"
        {{ form_enctype(formulario) }}>
    <div class="errors">
        {{ form_errors(formulario) }}
    </div>
    <div>
        {{ form_row(formulario.nombre) }}
    </div>
    <div>
        {{ form_row(formulario.apellidos) }}
    </div>
    {# ... #}
    <div>
        {{ form_errors(formulario.permiteEmail) }}
        {{ form_widget(formulario.permiteEmail) }}
        <span>Me gustaría recibir el boletín de ofertas de Cupon</span>
    </div>
    {{ form_widget(formulario.password,{ 'attr': {'display': 'none' } }) }}
    {{ form_rest(formulario) }}
    <input class="boton" type="submit" value="Guardar cambios" />
</form>
{% endblock %}