{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Registrate como usuario {% endblock %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    <form action="{{ path('cupon_usuario_default_registro') }}"
          method="post" {{ form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
        <fieldset>
            <legend>Datos personales</legend>
            <div>
                <strong>{{ form_label(formulario.nombre) }}</strong>
                <div class="error">{{ form_errors(formulario.nombre) }}</div>
                <span>{{ form_widget(formulario.nombre) }}</span>
            </div>
            {{ form_widget(formulario.apellidos,{ 'attr': {
                'accesskey' : 'n',
                'tabindex' : 2,
                'class'
                : 'opcional',
                'size'
                : 25
            } }) }}
            {{ form_row(formulario.fechaNacimiento) }}
            {{ form_row(formulario.nuip) }}
        </fieldset>
        <fieldset>
            <legend>Datos de Envios </legend>
            {{ form_row(formulario.direccion) }}
            {{ form_row(formulario.ciudad) }}
        </fieldset>
        <fieldset>
            <legend>Datos de acceso</legend>
            {{ form_row(formulario.email) }}
            {{ form_row(formulario.password) }}
        </fieldset>
        {{ form_row(formulario.permiteEmail) }}
        {{ form_rest(formulario) }}
        <input class="boton" type="submit" value="Registrarme" />
    </form>
{% endblock %}

{% block aside %}{% endblock %}