{# si el usaurio se encuentra logeado #}
{% if is_granted('ROLE_USUARIO') %}
    <p>Conectado como {{ app.user.nombre ~ ' ' ~ app.user.apellidos }}</p>
    <a href="{{ path('cupon_usuario_default_perfil') }}">Ver perfil</a>
    <a href="{{ path('usuario_logout') }}">Cerrar Sesion</a>
{% else %}
<form action="{{ path('usuario_login_check') }}" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="_username" value="{{ last_username | default('') }}">

    <label for="password">Contraseña</label>
    <input type="password" id="password" name="_password">

    <input type="submit" name="login" value="Acceder">
    <a class="boton" href="{{ path('cupon_usuario_default_registro') }}">Registrate</a>
    {% if error | default(false) %}
        <div>{{ error.message }}{{ pass }}</div>
    {% endif %}
</form>
{% endif %}