{% set comprada = comprada | default(false)  %}
{% set expirada = oferta.fechaExpiracion | date('YmdHis') < 'now' | date('YmdHis') %}
<section class="oferta mini">
    <div class="descripcion">
        <h2><a href="{{ path('cupon_oferta_default_oferta', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">
                {{ oferta.nombre }}
            </a>
        </h2>
        <p>{{ oferta.descripcion }}</p>
        {% if not expirada and not comprada %}
        <a href="#" class="boton">Comprar</a>
        {% endif %}
        <div class="estado {{ expirada ? 'expirada' : '' }}{{ comprada ? 'comprada':'' }}">
            {% if comprada %}
            <strong>Comprada el</strong>: {{ fechaCompra | date('d/m/Y') }}
            {% elseif not expirada %}
            <strong>Falta</strong>: {{ oferta.fechaExpiracion | date('d/m/Y')}}
            {% else %}
            <strong>Finalizada el</strong>: {{ oferta.fechaExpiracion | date('d/m/Y')}}
            {% endif %}
        </div>
    </div>
    <dvi class="galeria">
        <img src="{{ asset( directorio_imagenes ~ oferta.foto) }}" alt="{{ oferta.nombre ~ oferta.ciudad }}">

        <p class="precio">{{ oferta.precio }} $ <span>{{ descuento( oferta.precio, oferta.descuento) }}</span></p>

        <p>Disfruta de esta ofert en <a href="{{ path('cupon_tienda_default_portada',
                                                {'ciudad':oferta.tienda.ciudad.slug,
                                                 'tienda':oferta.tienda.slug}) }}">
                {{ oferta.tienda.nombre }}</a></p>
    </dvi>
</section>